In [47]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer

import os

import warnings
warnings.filterwarnings('ignore')

from env import host, user, password
import acquire

# 1 <br>
Acquire data from mySQL using the python module to connect and query. You will want to end with a single dataframe. Make sure to include: the logerror, all fields related to the properties that are available. You will end up using all the tables in the database.

- Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid.
- Only include properties with a transaction in 2017, and include only the last transaction for each property (so no duplicate property ID's), along with zestimate error and date of transaction.
- Only include properties that include a latitude and longitude value.

In [3]:
df = acquire.get_zillow_data()
df.head()

,parcelid,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,id,basementsqft,...,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,id,logerror,transactiondate,propertylandusedesc,storydesc,typeconstructiondesc
0,14297519,NaN,NaN,261.0,NaN,NaN,NaN,NaN,1727539,NaN,...,None,None,None,None,0,0.025595,2017-01-01,Single Family Residential,None,None
1,17052889,NaN,NaN,261.0,NaN,NaN,NaN,NaN,1387261,NaN,...,None,None,None,None,1,0.055619,2017-01-01,Single Family Residential,None,None
2,14186244,NaN,NaN,261.0,NaN,NaN,NaN,NaN,11677,NaN,...,None,None,None,None,2,0.005383,2017-01-01,Single Family Residential,None,None
3,12177905,NaN,NaN,261.0,2.0,NaN,NaN,NaN,2288172,NaN,...,None,None,None,Central,3,-0.103410,2017-01-01,Single Family Residential,None,None
4,10887214,NaN,NaN,266.0,2.0,NaN,NaN,1.0,1970746,NaN,...,Central,None,None,Central,4,0.006940,2017-01-01,Condominium,None,None

# 2 <br>
Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [5]:
df.shape

(9944, 69)

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
parcelid,9944.0,1.300296e+07,3.873631e+06,1.071194e+07,1.156709e+07,1.253446e+07,1.417620e+07,1.676885e+08
typeconstructiontypeid,44.0,6.000000e+00,0.000000e+00,6.000000e+00,6.000000e+00,6.000000e+00,6.000000e+00,6.000000e+00
storytypeid,9.0,7.000000e+00,0.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00
propertylandusetypeid,9944.0,2.616866e+02,5.785147e+00,3.100000e+01,2.610000e+02,2.610000e+02,2.660000e+02,2.750000e+02
heatingorsystemtypeid,6404.0,4.047002e+00,3.695730e+00,1.000000e+00,2.000000e+00,2.000000e+00,7.000000e+00,2.400000e+01
buildingclasstypeid,3.0,4.000000e+00,0.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00
architecturalstyletypeid,42.0,7.619048e+00,3.177300e+00,3.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,2.100000e+01
airconditioningtypeid,3137.0,1.774625e+00,2.914254e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.300000e+01
id,9944.0,1.497462e+06,8.604439e+05,4.580000e+02,7.580392e+05,1.489863e+06,2.245646e+06,2.982136e+06
basementsqft,9.0,5.723333e+02,4.258122e+02,1.000000e+02,2.240000e+02,5.120000e+02,9.000000e+02,1.416000e+03
bathroomcnt,9944.0,2.280973e+00,1.009457e+00,0.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
bedroomcnt,9944.0,3.056718e+00,1.150891e+00,0.000000e+00,2.000000e+00,3.000000e+00,4.000000e+00,1.400000e+01
buildingqualitytypeid,6489.0,6.449838e+00,1.744549e+00,1.000000e+00,5.000000e+00,6.000000e+00,8.000000e+00,1.200000e+01
calculatedbathnbr,9876.0,2.296173e+00,9.954934e-01,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
decktypeid,78.0,6.600000e+01,0.000000e+00,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01
finishedfloor1squarefeet,734.0,1.384623e+03,7.280630e+02,6.100000e+01,9.372500e+02,1.260000e+03,1.645000e+03,5.936000e+03
calculatedfinishedsquarefeet,9920.0,1.775919e+03,1.004456e+03,1.280000e+02,1.168000e+03,1.518000e+03,2.078000e+03,2.192900e+04
finishedsquarefeet12,9415.0,1.749989e+03,9.863871e+02,1.280000e+02,1.156000e+03,1.497000e+03,2.037500e+03,2.192900e+04
finishedsquarefeet13,3.0,1.376000e+03,5.542563e+01,1.344000e+03,1.344000e+03,1.344000e+03,1.392000e+03,1.440000e+03
finishedsquarefeet15,446.0,2.284188e+03,1.183496e+03,6.460000e+02,1.587250e+03,2.016000e+03,2.714000e+03,1.819700e+04
finishedsquarefeet50,734.0,1.410041e+03,7.908187e+02,6.100000e+01,9.385000e+02,1.261500e+03,1.650750e+03,6.441000e+03
finishedsquarefeet6,56.0,2.108732e+03,1.325456e+03,5.200000e+02,9.550000e+02,1.584500e+03,3.315750e+03,5.041000e+03
fips,9944.0,6.048344e+03,2.032445e+01,6.037000e+03,6.037000e+03,6.037000e+03,6.059000e+03,6.111000e+03
fireplacecnt,960.0,1.209375e+00,5.469754e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,5.000000e+00
fullbathcnt,9876.0,2.232584e+00,9.816934e-01,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
garagecarcnt,3142.0,1.811903e+00,5.775804e-01,0.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,7.000000e+00
garagetotalsqft,3142.0,3.465461e+02,2.589270e+02,0.000000e+00,0.000000e+00,4.320000e+02,4.887500e+02,2.000000e+03
hashottuborspa,156.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
latitude,9944.0,3.400955e+07,2.637327e+05,3.333983e+07,3.381969e+07,3.401954e+07,3.417180e+07,3.478681e+07
longitude,9944.0,-1.181986e+08,3.527565e+05,-1.194753e+08,-1.184024e+08,-1.181780e+08,-1.179299e+08,-1.175606e+08
lotsizesquarefeet,8869.0,3.159289e+04,1.325082e+05,4.350000e+02,5.665000e+03,7.200000e+03,1.215000e+04,6.971010e+06
poolcnt,1968.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
poolsizesum,91.0,5.272308e+02,1.885015e+02,2.400000e+01,4.125000e+02,5.040000e+02,6.085000e+02,1.500000e+03
pooltypeid10,44.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid2,112.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid7,1852.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
rawcensustractandblock,9944.0,6.048658e+07,2.016850e+05,6.037101e+07,6.037310e+07,6.037578e+07,6.059042e+07,6.111009e+07
regionidcity,9766.0,3.421171e+04,4.991809e+04,3.491000e+03,1.244700e+04,2.483200e+04,4.545700e+04,3.965560e+05
regionidcounty,9944.0,2.549671e+03,7.972246e+02,1.286000e+03,1.286000e+03,3.101000e+03,3.101000e+03,3.101000e+03
regionidneighborhood,3904.0,1.849082e+05,1.603871e+05,6.952000e+03,4.673600e+04,1.182080e+05,2.746950e+05,7.641470e+05
regionidzip,9936.0,9.659861e+04,4.320656e+03,9.598200e+04,9.618900e+04,9.638900e+04,9.698700e+04,3.996750e+05
roomcnt,9944.0,1.427595e+00,2.778053e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.400000e+01
threequarterbathnbr,1240.0,1.012903e+00,2.004707e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,7.000000e+00
unitcnt,6603.0,1.119945e+00,7.083912e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,4.500000e+01
yardbuildingsqft17,265.0,3.039283e+02,2.604343e+02,2.800000e+01,1.440000e+02,2.600000e+02,3.750000e+02,2.332000e+03
yardbuildingsqft26,7.0,1.378571e+02,8.971144e+01,4.500000e+01,7.200000e+01,1.200000e+02,1.780000e+02,3.000000e+02
yearbuilt,9916.0,1.967753e+03,2.402547e+01,1.885000e+03,1.952000e+03,1.969000e+03,1.986000e+03,2.016000e+03
numberofstories,2202.0,1.438238e+00,5.509483e-01,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,3.000000e+00
fireplaceflag,36.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
structuretaxvaluedollarcnt,9927.0,1.846888e+05,2.203001e+05,1.810000e+02,7.947400e+04,1.301550e+05,2.121100e+05,6.005239e+06
taxvaluedollarcnt,9944.0,4.827138e+05,8.081576e+05,1.381700e+04,1.969568e+05,3.412340e+05,5.450000e+05,4.906124e+07
assessmentyear,9944.0,2.016000e+03,0.000000e+00,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03
landtaxvaluedollarcnt,9944.0,2.983407e+05,6.808154e+05,1.479000e+03,7.928725e+04,1.918200e+05,3.463122e+05,4.895220e+07
taxamount,9943.0,5.922559e+03,9.518380e+03,9.678000e+01,2.618065e+03,4.258300e+03,6.643320e+03,5.866393e+05
taxdelinquencyyear,479.0,1.401879e+01,1.516183e+00,3.000000e+00,1.400000e+01,1.500000e+01,1.500000e+01,1.500000e+01
censustractandblock,9917.0,6.048670e+13,2.018809e+11,6.037101e+13,6.037310e+13,6.037578e+13,6.059042e+13,6.111009e+13
id,9944.0,5.000874e+03,2.890162e+03,0.000000e+00,2.496750e+03,5.002500e+03,7.503250e+03,1.000700e+04
logerror,9944.0,2.319197e-02,1.759589e-01,-4.655420e+00,-1.926407e-02,1.103438e-02,4.749848e-02,5.262999e+00

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9944 entries, 0 to 9906
Data columns (total 69 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      9944 non-null   int64
 1   typeconstructiontypeid        44 non-null     float64
 2   storytypeid                   9 non-null      float64
 3   propertylandusetypeid         9944 non-null   float64
 4   heatingorsystemtypeid         6404 non-null   float64
 5   buildingclasstypeid           3 non-null      float64
 6   architecturalstyletypeid      42 non-null     float64
 7   airconditioningtypeid         3137 non-null   float64
 8   id                            9944 non-null   int64
 9   basementsqft                  9 non-null      float64
 10  bathroomcnt                   9944 non-null   float64
 11  bedroomcnt                    9944 non-null   float64
 12  buildingqualitytypeid         6489 non-null   float64
 13  calculatedbathnbr             9876 non-null   float64
 14  decktypeid                    78 non-null     float64
 15  finishedfloor1squarefeet      734 non-null    float64
 16  calculatedfinishedsquarefeet  9920 non-null   float64
 17  finishedsquarefeet12          9415 non-null   float64
 18  finishedsquarefeet13          3 non-null      float64
 19  finishedsquarefeet15          446 non-null    float64
 20  finishedsquarefeet50          734 non-null    float64
 21  finishedsquarefeet6           56 non-null     float64
 22  fips                          9944 non-null   float64
 23  fireplacecnt                  960 non-null    float64
 24  fullbathcnt                   9876 non-null   float64
 25  garagecarcnt                  3142 non-null   float64
 26  garagetotalsqft               3142 non-null   float64
 27  hashottuborspa                156 non-null    float64
 28  latitude                      9944 non-null   float64
 29  longitude                     9944 non-null   float64
 30  lotsizesquarefeet             8869 non-null   float64
 31  poolcnt                       1968 non-null   float64
 32  poolsizesum                   91 non-null     float64
 33  pooltypeid10                  44 non-null     float64
 34  pooltypeid2                   112 non-null    float64
 35  pooltypeid7                   1852 non-null   float64
 36  propertycountylandusecode     9944 non-null   object
 37  propertyzoningdesc            6578 non-null   object
 38  rawcensustractandblock        9944 non-null   float64
 39  regionidcity                  9766 non-null   float64
 40  regionidcounty                9944 non-null   float64
 41  regionidneighborhood          3904 non-null   float64
 42  regionidzip                   9936 non-null   float64
 43  roomcnt                       9944 non-null   float64
 44  threequarterbathnbr           1240 non-null   float64
 45  unitcnt                       6603 non-null   float64
 46  yardbuildingsqft17            265 non-null    float64
 47  yardbuildingsqft26            7 non-null      float64
 48  yearbuilt                     9916 non-null   float64
 49  numberofstories               2202 non-null   float64
 50  fireplaceflag                 36 non-null     float64
 51  structuretaxvaluedollarcnt    9927 non-null   float64
 52  taxvaluedollarcnt             9944 non-null   float64
 53  assessmentyear                9944 non-null   float64
 54  landtaxvaluedollarcnt         9944 non-null   float64
 55  taxamount                     9943 non-null   float64
 56  taxdelinquencyflag            479 non-null    object
 57  taxdelinquencyyear            479 non-null    float64
 58  censustractandblock           9917 non-null   float64
 59  airconditioningdesc           3137 non-null   object
 60  architecturalstyledesc        42 non-null     object
 61  buildingclassdesc             3 non-null      object
 62  heatingorsystemdesc           6404 non-null   object
 63  id                            9944 non-null   int64
 64  logerror                      9944 non-null   float64
 65  transactiondate               9944 non-null   object
 66  propertylandusedesc           9944 non-null   object
 67  storydesc                     9 non-null      object
 68  typeconstructiondesc          44 non-null     object
dtypes: float64(55), int64(3), object(11)
memory usage: 5.3+ MB

In [9]:
df.bathroomcnt.value_counts()

2.0     4071
3.0     2179
1.0     1758
2.5      813
4.0      429
1.5      175
3.5      120
5.0      117
4.5       90
0.0       66
6.0       52
5.5       29
8.0       16
7.0       13
6.5        9
9.0        4
11.0       1
10.0       1
18.0       1
Name: bathroomcnt, dtype: int64

In [10]:
df.bedroomcnt.value_counts()

3.0     3863
2.0     2484
4.0     2242
5.0      562
1.0      455
6.0      160
0.0       97
8.0       47
7.0       23
9.0        7
10.0       2
14.0       1
12.0       1
Name: bedroomcnt, dtype: int64

# 3 <br>
Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [12]:
acquire.nulls_by_col(df)

                        num_rows_missing  percent_rows_missing
parcelid                               0              0.000000
typeconstructiontypeid              9900             99.557522
storytypeid                         9935             99.909493
propertylandusetypeid                  0              0.000000
heatingorsystemtypeid               3540             35.599356
...                                  ...                   ...
logerror                               0              0.000000
transactiondate                        0              0.000000
propertylandusedesc                    0              0.000000
storydesc                           9935             99.909493
typeconstructiondesc                9900             99.557522

[69 rows x 2 columns]

# 1 <br>
Write a function that takes in a dataframe and returns a dataframe with 3 columns: the number of columns missing, percent of columns missing, and number of rows with n columns missing. Run the function and document takeaways from this on how you want to handle missing values.

In [13]:
acquire.nulls_by_row(df)

   num_cols_missing percent_cols_missing  index
0                24    34.78260869565217      4
1                25   36.231884057971016      3
2                26    37.68115942028986     13
3                27   39.130434782608695     45
4                28    40.57971014492754     66
5                29   42.028985507246375    634
6                30    43.47826086956522    458
7                31   44.927536231884055   1171
8                32     46.3768115942029   1642
9                33    47.82608695652174   1859
10               34   49.275362318840585   1802
11               35    50.72463768115942    697
12               36    52.17391304347826    736
13               37    53.62318840579711    477
14               38   55.072463768115945    241
15               39    56.52173913043478     31
16               40   57.971014492753625     37
17               41    59.42028985507246      5
18               42    60.86956521739131      5
19               43    62.31884057971014      3
20               44    63.76811594202898     12
21               45    65.21739130434783      3

# Prepare <br>
# 1 <br>
Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer. But for this exercise, do not purely filter by unitcnt as we did previously. Add some new logic that will reduce the number of properties that are falsely removed. You might want to use # bedrooms, square feet, unit type or the like to then identify those with unitcnt not defined.

In [14]:
acquire.handle_missing_values(df, prop_required_columns=0.5, prop_required_row=0.75)

,parcelid,propertylandusetypeid,heatingorsystemtypeid,id,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,...,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,heatingorsystemdesc,id,logerror,transactiondate,propertylandusedesc
0,14297519,261.0,NaN,1727539,3.5,4.0,NaN,3.5,3100.0,3100.0,...,1023282.0,2016.0,537569.0,11013.72,6.059063e+13,None,0,0.025595,2017-01-01,Single Family Residential
1,17052889,261.0,NaN,1387261,1.0,2.0,NaN,1.0,1465.0,1465.0,...,464000.0,2016.0,376000.0,5672.48,6.111001e+13,None,1,0.055619,2017-01-01,Single Family Residential
2,14186244,261.0,NaN,11677,2.0,3.0,NaN,2.0,1243.0,1243.0,...,564778.0,2016.0,479489.0,6488.30,6.059022e+13,None,2,0.005383,2017-01-01,Single Family Residential
3,12177905,261.0,2.0,2288172,3.0,4.0,8.0,3.0,2376.0,2376.0,...,145143.0,2016.0,36225.0,1777.51,6.037300e+13,Central,3,-0.103410,2017-01-01,Single Family Residential
4,10887214,266.0,2.0,1970746,3.0,3.0,8.0,3.0,1312.0,1312.0,...,119407.0,2016.0,45726.0,1533.89,6.037124e+13,Central,4,0.006940,2017-01-01,Condominium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9892,17191625,266.0,NaN,343711,2.5,2.0,NaN,2.5,1463.0,1463.0,...,402506.0,2016.0,201253.0,4295.36,6.111006e+13,None,9900,0.010798,2017-02-15,Condominium
9891,10809856,261.0,2.0,672759,3.0,4.0,7.0,3.0,3267.0,3267.0,...,951841.0,2016.0,420768.0,11536.28,6.037138e+13,Central,9899,0.052829,2017-02-15,Single Family Residential
9890,12815475,261.0,2.0,933731,3.0,4.0,8.0,3.0,2306.0,2306.0,...,107443.0,2016.0,24208.0,1595.23,6.037408e+13,Central,9898,0.008809,2017-02-15,Single Family Residential
9896,14281159,261.0,NaN,2010661,1.0,3.0,NaN,1.0,1047.0,1047.0,...,210005.0,2016.0,149219.0,2857.92,6.059063e+13,None,9904,-0.047269,2017-02-15,Single Family Residential
9906,17176731,261.0,NaN,1699290,3.0,4.0,NaN,3.0,2164.0,2164.0,...,378784.0,2016.0,189392.0,4441.94,6.111005e+13,None,9914,-0.008628,2017-02-15,Single Family Residential

In [15]:
df.propertylandusetypeid.value_counts()

261.0    6694
266.0    2473
246.0     303
269.0     232
248.0      94
247.0      84
265.0      34
263.0      12
260.0       6
267.0       5
275.0       4
31.0        3
Name: propertylandusetypeid, dtype: int64

In [16]:
df.propertylandusedesc.value_counts()

Single Family Residential                     6694
Condominium                                   2473
Duplex (2 Units, Any Combination)              303
Planned Unit Development                       232
Quadruplex (4 Units, Any Combination)           94
Triplex (3 Units, Any Combination)              84
Cluster Home                                    34
Mobile Home                                     12
Residential General                              6
Cooperative                                      5
Manufactured, Modular, Prefabricated Homes       4
Commercial/Office/Residential Mixed Used         3
Name: propertylandusedesc, dtype: int64

In [17]:
df.isna().sum()

parcelid                     0
typeconstructiontypeid    9900
storytypeid               9935
propertylandusetypeid        0
heatingorsystemtypeid     3540
                          ...
logerror                     0
transactiondate              0
propertylandusedesc          0
storydesc                 9935
typeconstructiondesc      9900
Length: 69, dtype: int64

# 3 <br>
Decide how to handle the remaining missing values: <br>
- Fill with constant value.
- Impute with mean, median, mode.
- Drop row/column

In [18]:
# Dropping any property type that is not for a single family or residential
# Propertytypeids = 31, 246, 247, 248, 260, 267, 269, 275
# Keeping 261, 263, 264, 265, 266
index_names = df[ df['propertylandusetypeid'] == 267].index
index_names

Int64Index([1744, 2437, 3796, 7458, 9599], dtype='int64')

In [19]:
df.drop(index_names, inplace = True)

In [20]:
df.propertylandusetypeid.value_counts()

261.0    6694
266.0    2473
246.0     303
269.0     232
248.0      94
247.0      84
265.0      34
263.0      12
260.0       6
275.0       4
31.0        3
Name: propertylandusetypeid, dtype: int64

In [21]:
df.propertylandusedesc.value_counts()

Single Family Residential                     6694
Condominium                                   2473
Duplex (2 Units, Any Combination)              303
Planned Unit Development                       232
Quadruplex (4 Units, Any Combination)           94
Triplex (3 Units, Any Combination)              84
Cluster Home                                    34
Mobile Home                                     12
Residential General                              6
Manufactured, Modular, Prefabricated Homes       4
Commercial/Office/Residential Mixed Used         3
Name: propertylandusedesc, dtype: int64

In [22]:
df.isna().sum()

parcelid                     0
typeconstructiontypeid    9895
storytypeid               9930
propertylandusetypeid        0
heatingorsystemtypeid     3540
                          ...
logerror                     0
transactiondate              0
propertylandusedesc          0
storydesc                 9930
typeconstructiondesc      9895
Length: 69, dtype: int64

In [23]:
df.typeconstructiontypeid.value_counts()

6.0    44
Name: typeconstructiontypeid, dtype: int64

In [24]:
df.typeconstructiondesc.value_counts()

Frame    44
Name: typeconstructiondesc, dtype: int64

In [25]:
df.storytypeid.value_counts()

7.0    9
Name: storytypeid, dtype: int64

In [26]:
df.storydesc.value_counts()

Basement    9
Name: storydesc, dtype: int64

In [27]:
df.heatingorsystemdesc.value_counts()

Central       4222
Floor/Wall    1930
Yes            118
Forced air      98
Solar           16
None            11
Radiant          3
Baseboard        1
Name: heatingorsystemdesc, dtype: int64

In [28]:
df.typeconstructiondesc.value_counts()

Frame    44
Name: typeconstructiondesc, dtype: int64

In [29]:
df.shape

(9939, 69)

In [30]:
acquire.nulls_by_row(df)

   num_cols_missing percent_cols_missing  index
0                24    34.78260869565217      4
1                25   36.231884057971016      3
2                26    37.68115942028986     13
3                27   39.130434782608695     45
4                28    40.57971014492754     66
5                29   42.028985507246375    634
6                30    43.47826086956522    458
7                31   44.927536231884055   1171
8                32     46.3768115942029   1641
9                33    47.82608695652174   1855
10               34   49.275362318840585   1802
11               35    50.72463768115942    697
12               36    52.17391304347826    736
13               37    53.62318840579711    477
14               38   55.072463768115945    241
15               39    56.52173913043478     31
16               40   57.971014492753625     37
17               41    59.42028985507246      5
18               42    60.86956521739131      5
19               43    62.31884057971014      3
20               44    63.76811594202898     12
21               45    65.21739130434783      3

In [31]:
nulls = pd.DataFrame(df.isna().sum())
nulls[nulls>0].value_counts()

9936.0    3
9895.0    3
9930.0    3
9460.0    2
6803.0    2
6797.0    2
3540.0    2
9205.0    2
68.0      2
9897.0    2
9883.0    1
9861.0    1
8979.0    1
9827.0    1
9783.0    1
9674.0    1
9903.0    1
9493.0    1
9932.0    1
9848.0    1
1.0       1
8699.0    1
8087.0    1
8.0       1
7737.0    1
6039.0    1
3455.0    1
3366.0    1
3341.0    1
1075.0    1
529.0     1
178.0     1
28.0      1
27.0      1
24.0      1
17.0      1
7971.0    1
dtype: int64

In [32]:
df.isna().sum()

parcelid                     0
typeconstructiontypeid    9895
storytypeid               9930
propertylandusetypeid        0
heatingorsystemtypeid     3540
                          ...
logerror                     0
transactiondate              0
propertylandusedesc          0
storydesc                 9930
typeconstructiondesc      9895
Length: 69, dtype: int64

In [33]:
cols_to_remove = ['typeconstructiontypeid', 'storytypeid','storydesc','typeconstructiondesc']
df = acquire.remove_columns(df, cols_to_remove)

In [34]:
df.isna().sum()

parcelid                       0
propertylandusetypeid          0
heatingorsystemtypeid       3540
buildingclasstypeid         9936
architecturalstyletypeid    9897
                            ...
heatingorsystemdesc         3540
id                             0
logerror                       0
transactiondate                0
propertylandusedesc            0
Length: 65, dtype: int64

In [35]:
cols_to_remove = ['heatingorsystemtypeid','architecturalstyletypeid']
df = acquire.remove_columns(df, cols_to_remove)

In [36]:
df.isna().sum()

parcelid                    0
propertylandusetypeid       0
buildingclasstypeid      9936
airconditioningtypeid    6803
id                          0
                         ...
heatingorsystemdesc      3540
id                          0
logerror                    0
transactiondate             0
propertylandusedesc         0
Length: 63, dtype: int64

In [37]:
cols_to_remove = ['buildingclasstypeid']
df = acquire.remove_columns(df, cols_to_remove)

In [38]:
df.isna().sum()

parcelid                    0
propertylandusetypeid       0
airconditioningtypeid    6803
id                          0
basementsqft             9930
                         ...
heatingorsystemdesc      3540
id                          0
logerror                    0
transactiondate             0
propertylandusedesc         0
Length: 62, dtype: int64

In [39]:
cols_to_remove = ['basementsqft']
df = acquire.remove_columns(df, cols_to_remove)

In [40]:
df.isna().sum()

parcelid                    0
propertylandusetypeid       0
airconditioningtypeid    6803
id                          0
bathroomcnt                 0
                         ...
heatingorsystemdesc      3540
id                          0
logerror                    0
transactiondate             0
propertylandusedesc         0
Length: 61, dtype: int64

In [41]:
missing = df.isnull().sum()
print('-----')
print(missing[missing > 0])

-----
airconditioningtypeid           6803
buildingqualitytypeid           3455
calculatedbathnbr                 68
decktypeid                      9861
finishedfloor1squarefeet        9205
calculatedfinishedsquarefeet      24
finishedsquarefeet12             529
finishedsquarefeet13            9936
finishedsquarefeet15            9493
finishedsquarefeet50            9205
finishedsquarefeet6             9883
fireplacecnt                    8979
fullbathcnt                       68
garagecarcnt                    6797
garagetotalsqft                 6797
hashottuborspa                  9783
lotsizesquarefeet               1075
poolcnt                         7971
poolsizesum                     9848
pooltypeid10                    9895
pooltypeid2                     9827
pooltypeid7                     8087
propertyzoningdesc              3366
regionidcity                     178
regionidneighborhood            6039
regionidzip                        8
threequarterbathnbr             8699
unitcnt                         3341
yardbuildingsqft17              9674
yardbuildingsqft26              9932
yearbuilt                         28
numberofstories                 7737
fireplaceflag                   9903
structuretaxvaluedollarcnt        17
taxamount                          1
taxdelinquencyflag              9460
taxdelinquencyyear              9460
censustractandblock               27
airconditioningdesc             6803
architecturalstyledesc          9897
buildingclassdesc               9936
heatingorsystemdesc             3540
dtype: int64

In [42]:
df = acquire.handle_missing_values(df, prop_required_columns=0.5, prop_required_row=0.75)

In [43]:
missing = df.isnull().sum()
print('-----')
print(missing[missing > 0])

-----
buildingqualitytypeid           3440
calculatedbathnbr                 53
calculatedfinishedsquarefeet       9
finishedsquarefeet12             514
fullbathcnt                       53
lotsizesquarefeet               1070
propertyzoningdesc              3352
regionidcity                     178
regionidzip                        8
unitcnt                         3326
yearbuilt                         13
structuretaxvaluedollarcnt        17
taxamount                          1
censustractandblock               26
heatingorsystemdesc             3525
dtype: int64

In [44]:
df.heatingorsystemdesc.value_counts()

Central       4222
Floor/Wall    1930
Yes            118
Forced air      98
Solar           16
None            11
Radiant          3
Baseboard        1
Name: heatingorsystemdesc, dtype: int64

In [45]:
df.shape

(9924, 34)

In [48]:
imp = SimpleImputer(strategy="most_frequent")

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9924 entries, 0 to 9906
Data columns (total 34 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      9924 non-null   int64
 1   propertylandusetypeid         9924 non-null   float64
 2   id                            9924 non-null   int64
 3   bathroomcnt                   9924 non-null   float64
 4   bedroomcnt                    9924 non-null   float64
 5   buildingqualitytypeid         6484 non-null   float64
 6   calculatedbathnbr             9871 non-null   float64
 7   calculatedfinishedsquarefeet  9915 non-null   float64
 8   finishedsquarefeet12          9410 non-null   float64
 9   fips                          9924 non-null   float64
 10  fullbathcnt                   9871 non-null   float64
 11  latitude                      9924 non-null   float64
 12  longitude                     9924 non-null   float64
 13  lotsizesquarefeet             8854 non-null   float64
 14  propertycountylandusecode     9924 non-null   object
 15  propertyzoningdesc            6572 non-null   object
 16  rawcensustractandblock        9924 non-null   float64
 17  regionidcity                  9746 non-null   float64
 18  regionidcounty                9924 non-null   float64
 19  regionidzip                   9916 non-null   float64
 20  roomcnt                       9924 non-null   float64
 21  unitcnt                       6598 non-null   float64
 22  yearbuilt                     9911 non-null   float64
 23  structuretaxvaluedollarcnt    9907 non-null   float64
 24  taxvaluedollarcnt             9924 non-null   float64
 25  assessmentyear                9924 non-null   float64
 26  landtaxvaluedollarcnt         9924 non-null   float64
 27  taxamount                     9923 non-null   float64
 28  censustractandblock           9898 non-null   float64
 29  heatingorsystemdesc           6399 non-null   object
 30  id                            9924 non-null   int64
 31  logerror                      9924 non-null   float64
 32  transactiondate               9924 non-null   object
 33  propertylandusedesc           9924 non-null   object
dtypes: float64(26), int64(3), object(5)
memory usage: 2.6+ MB

In [50]:
imp.fit_transform(df)

array([[14297519, 261.0, 1727539, ..., 0.025594901758400002,
        '2017-01-01', 'Single Family Residential'],
       [17052889, 261.0, 1387261, ..., 0.0556190874015, '2017-01-01',
        'Single Family Residential'],
       [14186244, 261.0, 11677, ..., 0.0053828530468900005, '2017-01-01',
        'Single Family Residential'],
       ...,
       [12815475, 261.0, 933731, ..., 0.008809434751829999, '2017-02-15',
        'Single Family Residential'],
       [14281159, 261.0, 2010661, ..., -0.047269379667, '2017-02-15',
        'Single Family Residential'],
       [17176731, 261.0, 1699290, ..., -0.008628105671950001,
        '2017-02-15', 'Single Family Residential']], dtype=object)

In [51]:
missing = df.isnull().sum()
print('-----')
print(missing[missing > 0])

-----
buildingqualitytypeid           3440
calculatedbathnbr                 53
calculatedfinishedsquarefeet       9
finishedsquarefeet12             514
fullbathcnt                       53
lotsizesquarefeet               1070
propertyzoningdesc              3352
regionidcity                     178
regionidzip                        8
unitcnt                         3326
yearbuilt                         13
structuretaxvaluedollarcnt        17
taxamount                          1
censustractandblock               26
heatingorsystemdesc             3525
dtype: int64

In [52]:
df.info

<bound method DataFrame.info of       parcelid  propertylandusetypeid       id  bathroomcnt  bedroomcnt  \
0     14297519                  261.0  1727539          3.5         4.0
1     17052889                  261.0  1387261          1.0         2.0
2     14186244                  261.0    11677          2.0         3.0
3     12177905                  261.0  2288172          3.0         4.0
4     10887214                  266.0  1970746          3.0         3.0
...        ...                    ...      ...          ...         ...
9892  17191625                  266.0   343711          2.5         2.0
9891  10809856                  261.0   672759          3.0         4.0
9890  12815475                  261.0   933731          3.0         4.0
9896  14281159                  261.0  2010661          1.0         3.0
9906  17176731                  261.0  1699290          3.0         4.0

      buildingqualitytypeid  calculatedbathnbr  calculatedfinishedsquarefeet  \
0                       NaN                3.5                        3100.0
1                       NaN                1.0                        1465.0
2                       NaN                2.0                        1243.0
3                       8.0                3.0                        2376.0
4                       8.0                3.0                        1312.0
...                     ...                ...                           ...
9892                    NaN                2.5                        1463.0
9891                    7.0                3.0                        3267.0
9890                    8.0                3.0                        2306.0
9896                    NaN                1.0                        1047.0
9906                    NaN                3.0                        2164.0

      finishedsquarefeet12    fips  ...  taxvaluedollarcnt  assessmentyear  \
0                   3100.0  6059.0  ...          1023282.0          2016.0
1                   1465.0  6111.0  ...           464000.0          2016.0
2                   1243.0  6059.0  ...           564778.0          2016.0
3                   2376.0  6037.0  ...           145143.0          2016.0
4                   1312.0  6037.0  ...           119407.0          2016.0
...                    ...     ...  ...                ...             ...
9892                1463.0  6111.0  ...           402506.0          2016.0
9891                3267.0  6037.0  ...           951841.0          2016.0
9890                2306.0  6037.0  ...           107443.0          2016.0
9896                1047.0  6059.0  ...           210005.0          2016.0
9906                2164.0  6111.0  ...           378784.0          2016.0

      landtaxvaluedollarcnt  taxamount censustractandblock  \
0                  537569.0   11013.72        6.059063e+13
1                  376000.0    5672.48        6.111001e+13
2                  479489.0    6488.30        6.059022e+13
3                   36225.0    1777.51        6.037300e+13
4                   45726.0    1533.89        6.037124e+13
...                     ...        ...                 ...
9892               201253.0    4295.36        6.111006e+13
9891               420768.0   11536.28        6.037138e+13
9890                24208.0    1595.23        6.037408e+13
9896               149219.0    2857.92        6.059063e+13
9906               189392.0    4441.94        6.111005e+13

     heatingorsystemdesc    id  logerror  transactiondate  \
0                   None     0  0.025595       2017-01-01
1                   None     1  0.055619       2017-01-01
2                   None     2  0.005383       2017-01-01
3                Central     3 -0.103410       2017-01-01
4                Central     4  0.006940       2017-01-01
...                  ...   ...       ...              ...
9892                None  9900  0.010798       2017-02-15
9891             Central  9899  0.052829       2017-02-15
9890             Central  9898  0.008809       2017-02-15
9896                None  9904 -0.047269       2017-02-15
9906                None  9914 -0.008628       2017-02-15

            propertylandusedesc
0     Single Family Residential
1     Single Family Residential
2     Single Family Residential
3     Single Family Residential
4                   Condominium
...                         ...
9892                Condominium
9891  Single Family Residential
9890  Single Family Residential
9896  Single Family Residential
9906  Single Family Residential

[9924 rows x 34 columns]>

In [53]:
df.shape

(9924, 34)